{% extends "page.html.twig" %}

{% block hero %}
{% endblock %}

{% block main %}
  {{ page.local_utility }}
  {{ page.content }}
  {% if page.bento_1 %}
    <div class="bento-outer-pad">
      <div class="container-fluid" id="bento-blocks">
        <div class="row bento-results">
                <div id="bento-result-1" class="col-1200-4 col-900-6 col-600-12 bento-result">
                        {{ page.bento_1 }}
                </div>
                {% if page.bento_2 %}
                        <div id="bento-result-2" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_2 }}
                        </div>
                {% endif %}
                {% if page.bento_3 %}
                        <div id="bento-result-3" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_3 }}
                        </div>
                {% endif %}
        </div>
        <div class="row bento-results">
                {% if page.bento_4 %}
                        <div id="bento-result-4" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_4 }}
                        </div>
                {% endif %}
                {% if page.bento_5 %}
                        <div id="bento-result-5" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_5 }}
                        </div>
                {% endif %}
                {% if page.bento_6 %}
                        <div id="bento-result-6" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_6 }}
                        </div>
                {% endif %}
        </div>
        <div class="row bento-results">
                {% if page.bento_7 %}
                        <div id="bento-result-7" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_7 }}
                        </div>
                {% endif %}
                {% if page.bento_8 %}
                        <div id="bento-result-8" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_8 }}
                        </div>
                {% endif %}
                {% if page.bento_9 %}
                        <div id="bento-result-9" class="col-1200-4 col-900-6 col-600-12 bento-result">
                                {{ page.bento_9 }}
                        </div>
                {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
