{% extends "page.html.twig" %}

{% block hero %}
{% endblock %}

{% block main %}
  {{ page.local_utility }}
  {{ page.content }}
  {% if page.bento_1 %}
    <div class="bento-outer-pad homepage-node">
      {% if page.bento_header %}
        <div class="bento-header">
          {{ page.bento_header }}
        </div>
      {% endif %}
      <div class="bento-layout">
        <div class="bento-sidebar">
          {{ page.bento_sidebar }} 
        </div>
        <div class="bento-content">
          <div id="bento-blocks">
            <div class="bento-results bento-utility">
              {% if page.bento_utility_2 %}
                {{ page.bento_utility_1 }}
              {% endif %}
              {% if page.bento_utility_2 %}
                {{ page.bento_utility_2 }}
              {% endif %}
            </div>
            <div class="bento-results">
              <div id="bento-result-1" class="bento-result">
                {{ page.bento_1 }}
              </div>
              {% if page.bento_2 %}
                <div id="bento-result-2" class="bento-result">
                  {{ page.bento_2 }}
                </div>
              {% endif %}
              {% if page.bento_3 %}
                <div id="bento-result-3" class="bento-result">
                  {{ page.bento_3 }}
                </div>
              {% endif %}
              {% if page.bento_4 %}
                <div id="bento-result-4" class="bento-result">
                  {{ page.bento_4 }}
                </div>
              {% endif %}
              {% if page.bento_5 %}
                <div id="bento-result-5" class="bento-result">
                  {{ page.bento_5 }}
                </div>
              {% endif %}
              {% if page.bento_6 %}
                <div id="bento-result-6" class="bento-result">
                  {{ page.bento_6 }}
                </div>
              {% endif %}
              {% if page.bento_7 %}
                <div id="bento-result-7" class="bento-result">
                  {{ page.bento_7 }}
                </div>
              {% endif %}
              {% if page.bento_8 %}
                <div id="bento-result-8" class="bento-result">
                  {{ page.bento_8 }}
                </div>
              {% endif %}
              {% if page.bento_9 %}
                <div id="bento-result-9" class="bento-result">
                  {{ page.bento_9 }}
                </div>
              {% endif %}
              {% if page.bento_10 %}
                <div id="bento-result-10" class="bento-result">
                  {{ page.bento_10 }}
                </div>
              {% endif %}
            </div>
            {# ADDED: bento utility footer #}
            <div class="bento-results bento-footer-util">
              {% if page.feedback_popup %}
                <div id="feedback-popup" class="feedback-popup">
                  <button onclick="closePopup()" class="close-button" aria-label="Close popup"></button>
                {{ page.feedback_popup }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
