{#
/**
 * @file
 * ask-us-block template
 *
 * Variables:
 *   - ask_us_title
 *   - ask_us_form
 *   - ask_us_buttons
 *   - ask_us_top_right_link
 *   - ask_us_bottom_left_link
 *   - ask_us_bottom_right_link
 */
#}
{{ attach_library('ask_us/ask-us') }}
<div class="info-grid">
  <div class="info-heading">
    {{ label }}
  </div>
  <div>
    {{ content.field_search }}
    <div>{{ content.field_link1 }} | {{ content.field_link2 }}</div>
        
  </div>
  <div>
    <div class="utility-border">
      {{ content.field_social_link1_icon }} <span>{{ content.field_social_link1 }}</span>
    </div>
    <div class="utility-border">
      {{ content.field_social_link2_icon }} <span>{{ content.field_social_link2 }}</span>
    </div>
    <div class="utility-border">
      {{ content.field_social_link3_icon }} <span>{{ content.field_social_link3 }}</span>
    </div>
  </div>
</div>