{#
/**
 * @file
 * ask-us-block template
 *
 * Variables:
 *   libchat_id : springshare ask us button id
 *   link_1_url : customizable link 1 url
 *   link_1_text : customizable link 1 text
 *   link_2_url
 *   link_2_text
 *   faq_form : misnamed key. Is used for search button text and label.
 *   faq_placeholder
 */
#}
{{ attach_library('ask_us/ask-us') }}
<div id="showHelp" tabindex="0">
  <div class="info-grid">
    <div class="info-heading">
      {{ ask_title }}
    </div>
    <div>
      {% if faq_form %}
        <form method="get" class="navbar-form navbar-left" role="search" name="s-la-searchform" action="https://umd.libanswers.com/search" aria-label="Frequently Asked Questions form">
          <input type="text" id="search-faq" class="form-control" name="q" required placeholder="{{ faq_placeholder }}" size="25" value="" autocomplete="on" aria-label="Frequently Asked Questions input">
          <button type="submit" class="btn-faq">{{ faq_form }}</button>
        </form>
      {% endif %}
      <div><a href="{{ link_1_url }}">{{ link_1_text }}</a> | <a href="{{ link_2_url }}">{{ link_2_text }}</a> | <a href="/find/borrow/billing/inquiry">Billing Inquiry</a></div>
    </div>
    <div>
      {% if libchat_id %}
        <button
          class="cw-button"
          id="cw-button"
          href="#"
          onClick="window.open('https://umd.libanswers.com/chat/widget/5cffd49b55d69387be9a6fa51e3c5fa59efa09ca025ffc7367db9b7d083f17ec','pop-up','width=360,height=594'); return false;"
        >
          <div class="cw-button-content">
            <div class="cw-icon" id="cw-icon"></div>
            <div class="cw-text"><p>Chat With Us!</p></div>
          </div>
        </button>
        <!-- chat button embed -->
      {% endif %}
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-book"></span>
        <span class="sr-only">Book icon</span><span><a href="https://lib.guides.umd.edu/">RESEARCH GUIDES</a></span>
      </div>
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-laptop-code"></span>
        <span class="sr-only">Book icon</span><span><a href="/about/contact/tech">REPORT A PROBLEM</a></span>
      </div>
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-comment"></span>
        <span class="sr-only">Book icon</span><span><a href="https://libumd.wufoo.com/forms/library-suggestions">SHARE FEEDBACK</a></span>
      </div>
    </div>
  </div>
  <button onclick="exitHelp()" class="close-btn">
    <span aria-hidden="true" class="fas fa-times"></span>
    <span class="sr-only">Exit Help</span>
  </button>
</div>
