{#
/**
 * @file
 * ask-us-block template
 *
 * Variables:
 *   libchat_id : springshare ask us button id
 *   link_1_url : customizable link 1 url
 *   link_1_text : customizable link 1 text
 *   link_2_url
 *   link_2_text
 *   faq_form : misnamed key. Is used for search button text and label.
 *   faq_placeholder
 */
#}
{{ attach_library('ask_us/ask-us') }}
<div id="showHelp" tabindex="0">
  <div class="info-grid">
    <div class="info-heading">
      {{ ask_title }}
    </div>
    <div>
      {% if faq_form %}
        <form method="get" class="navbar-form navbar-left" role="search" name="s-la-searchform" id="search-faq" action="https://umd.libanswers.com/search" aria-labelledby="search FAQ">
          <label for="search-faq" class="sr-only">{{ faq_form }}</label>
          <input type="text" id="search-faq" class="form-control" name="q" required placeholder="{{ faq_placeholder }}" size="25" value="" autocomplete="on" aria-describedby="search faq">
          <button type="submit" class="btn-faq">{{ faq_form }}</button>
        </form>
      {% endif %}
      <div><a href="{{ link_1_url }}">{{ link_1_text }}</a> | <a href="{{ link_2_url }}">{{ link_2_text }}</a></div>
    </div>
    <div>
      {% if libchat_id %}
        <div style="margin-top: 1rem" id="{{ libchat_id }}"></div> <!-- chat button embed -->
      {% endif %}
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-book"></span>
        <span class="sr-only">Book icon</span><span><a href="https://lib.guides.umd.edu/">RESEARCH GUIDES</a></span>
      </div>
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-laptop-code"></span>
        <span class="sr-only">Book icon</span><span><a href="https://wwwnew.lib.umd.edu/about/contact/tech">TECHNICAL SUPPORT</a></span>
      </div>
      <div class="utility-border">
        <span aria-hidden="true" class="fas fa-comment"></span>
        <span class="sr-only">Book icon</span><span><a href="https://libumd.wufoo.com/forms/library-suggestions">SHARE FEEDBACK</a></span>
      </div>
    </div>
  </div>
  <button onclick="exitHelp()" class="close-btn">
    <span aria-hidden="true" class="fas fa-times"></span>
    <span class="sr-only">Exit Help</span>
  </button>
</div>
