{#
/**
 * @file
 * Theme override to display a careers node.
 */
#}

<div {{attributes}} id="umd-careers-node">
	{{ title_suffix }}
	{% if content.body|field_value %}
		{{ content.body|field_value }}
	{% endif %}

	<div class="career-details">	
	{% if content.field_careers_position_descrip|field_value %}
		<p>{{ content.field_careers_position_descrip|field_value }}</p>
	{% endif %}
	{% if content.field_careers_division|field_value %}
		<p><strong>Division:</strong> {{ content.field_careers_division|render }}</p>
	{% endif %}
	{% if content.field_careers_position_type|field_value %}
		<p><strong>Position Type:</strong> {{ content.field_careers_position_type|field_value }}</p>
	{% endif %}
	{% if content.field_careers_salary|field_value %}
		<p><strong>Salary Range:</strong> {{ content.field_careers_salary|field_value }}</p>
	{% endif %}
	{% if content.field_careers_closing_date|field_value %}
		<p><strong>Closing Date:</strong> {{ content.field_careers_closing_date|field_value }}</p>
	{% endif %}
	<br />
	{% if content.field_careers_application_link|field_value %}
		<div class="btn-set"><a class="btn btn-primary" href="{{ content.field_careers_application_link|field_value }}">Apply for this position</a></div>
	{% endif %}
	</div>

</div>
{{ content|without('body', 'field_careers_application_link', 'field_careers_closing_date', 'field_careers_salary', 'field_careers_position_type', 'field_careers_position_descrip', 'field_careers_division') }}
