{#
/**
 * @file
 * lib-hours-today template
 *
 * Variables:
 *   - hours
 */
#}
{{ attach_library('lib_cal/lib-cal') }}
{% if current_date %}
  <h3>Week of {{ current_date|date("l, F j") }}</h3>
{% endif %}
<div class="lib-hours {{ row_class }}">
  {% if hours %}
    {% for location in hours %}
      <div class="{{ grid_class }}">
        <ul>
          <li><span class="lib-hours-location">{{ location.name }}</span>: 
            {% if location.dates %}
              <ul>
                {% for date, location_info in location.dates %}
                  <li class="lib-hours-hour">{{ date|date("l, F j") }}: 
                    {% if location_info.hours %}
                      {% for hours_info in location_info.hours %}
                        <div class="lib-hours-details">
                          {% if location.name == 'McKeldin Library' %}
                            {{ hours_info.from|replace({'12:00AM' : '24 Hours'}) }} 
                            {%if hours_info.to %}
                              - {{ hours_info.to|replace({'12:00AM' : '24 Hours'}) }}
                            {% endif %}
                          {% else %}
                            {{ hours_info.from|replace({'12:00AM' : 'Midnight'}) }} 
                            {%if hours_info.to %}
                              - {{ hours_info.to|replace({'12:00AM' : 'Midnight'}) }}
                            {% endif %}
                          {% endif %}
                        </div>
                      <!-- end hours_info -->
                      {% endfor %}
                    {% else %}
                      {% if location_info.status == 'text' %}
                        <div class="lib-hours-details">{{ location_info.text }}</div>
                      {% elseif location_info.status == 'closed' %}
                        <div class="lib-hours-details">Closed</div>
                      {% elseif location_info.status == '24hours' %}
                        <div class="lib-hours-details">24 Hours</div>
                      {% endif %}
                    {% endif %}
                  </li>
                <!-- end date,location_info -->
                {% endfor %}
              </ul>
            {% else %}
              <ul>
                <li class="lib-hours-hour">--</li>
              </ul>
            {% endif %}
          </li>
        <!-- end location -->
        </ul>
      </div>
    {% endfor %}
  {% endif %}
</div>
