{#
/**
 * @file
 * lib-cal-block template
 *
 * Variables:
 *   - events
 */
#}
{{ attach_library('lib_cal/lib-cal') }}
<div class='lib-cal-block'>
  {% for event in events %}
    <div class='lib-cal-event'>
      <div class='lib-cal-event-time'>
        <span>{{ event.month }}</span>
        <span>{{ event.day }}</span>
        <span>-</span>
        <span>{{ event.hour }}</span>
      </div>
      <div class='lib-cal-event-detail'>
        <div class='lib-cal-event-category'>
          {{ event.category.0 }}
        </div>
        <div class='lib-cal-event-title'>
          <a href='{{ event.url }}' title='{{ event.title }}'>{{ event.title }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
