{#
/**
* @file
* Displays global footer.
*
*/
#}

<footer class="umdlib-site-footer" aria-label="footer menus and social links">
	<div class="umdlib-site-footer-main">
		<div class="umdlib-site-footer-about">
			<div class="umdlib-site-footer-logo">
				{% if umd_terp_footer_logo_svg %}
					<div style="background-image: url('data:image/svg+xml;utf8,{{ umd_terp_footer_logo_svg|raw }}')" role="img" alt="{{ site_name }} logo" aria-label="Libraries Logo"></div>
				{% else %}
					<div style="background-image: url({{ footer_logo_path }})" role="img" alt="{{ site_name }} logo"></div>
				{% endif %}
			</div>
			<div class="umdlib-site-footer-address">
				{% if umd_terp_address %}
					<span class="umdlib-site-footer-address-addrline">{{ umd_terp_address }}</span>
				{% endif %}
				{% if umd_terp_phone %}
					<a aria-label="{{ umd_terp_phone|preg_replace('/[^0-9]/', '') }}" href="tel:+{{ umd_terp_phone|preg_replace('/[^0-9]/', '') }}">{{ umd_terp_phone }}</a>
					{% if umd_terp_phone_secondary %}
						<span aria-hidden="true">&nbsp;/&nbsp;</span>
						<a aria-label="{{ umd_terp_phone_secondary|preg_replace('/[^0-9]/', '') }}" href="tel:+{{ umd_terp_phone_secondary|preg_replace('/[^0-9]/', '') }}">{{ umd_terp_phone_secondary }}</a>
					{% endif %}
				{% endif %}
				{% if umd_terp_library_ask_a_librarian_link %}
					{% if umd_terp_phone %}
						<span aria-hidden="true">&nbsp;|&nbsp;</span>
					{% endif %}
					<a href="{{ umd_terp_library_ask_a_librarian_link }}">Ask a Librarian</a>
				{% endif %}
			</div>
			<div class="umdlib-site-footer-social">
				{% include directory ~ '/templates/partials/social-links.html.twig' %}
			</div>
		</div>
		<div class="umdlib-site-footer-nav-container">
			<nav class="umdlib-site-footer-nav" aria-label="Our Libraries menu">
				{% if umd_terp_footer_menu1_title %}
					<span class="umdlib-site-footer-nav-title">{{ umd_terp_footer_menu1_title }}</span>
				{% endif %}
				{{ drupal_menu('footer') }}
				{% if umd_terp_library_hours_link %}
				<div>
					<br/>
					<a href="{{ umd_terp_library_hours_link }}">Library Hours</a>
				</div>
				{% endif %}
			</nav>
		</div>
		<div class="umdlib-site-footer-nav-container">
			<nav class="umdlib-site-footer-nav" aria-label="Our Community menu">
					{% if umd_terp_footer_menu2_title %}
					<span class="umdlib-site-footer-nav-title">{{ umd_terp_footer_menu2_title }}</span>
				{% endif %}
				{{ drupal_menu('footer2') }}
				{% if umd_terp_job_link %}
				<div>
					<br/>
					<a href="{{ umd_terp_job_link }}">Careers</a>
				</div>
				{% endif %}
			</nav>
		</div>
		<div class="umdlib-site-footer-addon">
		  {{ page.footer_addon }}
		</div>
	</div>
	<div class="umdlib-site-footer-legal">
		<div class="max-bound">
			{{ drupal_menu('global') }}
      <span>Ⓒ {{ "now"|date('Y') }} UNIVERSITY OF MARYLAND</span>
		</div>
	</div>
</footer>
<a href="#" class="back-to-top">Back to Top</a>
{% if umd_terp_enable_ask_us_chat %}
	<script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=fe53f3bc15d10c1fe704c59be49661b0"></script>
{% endif %}

