{#
/**
* @file
* Displays the utility navigation mobile menu and blocks.
*
*/
#}
<ul class="utility-nav-mobile">
  <li>
    <a href="/locations"><span class="fas fa-clock"></span> Locations &amp; Hours</span></a>
    <ul aria-labelledby="site-header-nav-dropdown-toggle-5" aria-hidden="true" style="">
      <li>
        {{ page.utility_mobile_hours }}
      </li>
    </ul>
  </li>
  <li>
    <a href="/about/systems"><span class="fas fa-exclamation-triangle"></span> Systems Status</a>
    <ul aria-labelledby="site-header-nav-dropdown-toggle-6" aria-hidden="true" style="">
      <li>
        {{ page.utility_mobile_systems }}
      </li>
    </ul>
  </li>
  <li>
    <a href="/help"><span class="fas fa-question-circle"></span> Get Help</a>
    <ul aria-labelledby="site-header-nav-dropdown-toggle-7" aria-hidden="true" style="">
      <li>
        {{ page.utility_mobile_help }}
      </li>
    </ul>
  </li>
  <li>
    <a href="/info"><span class="fas fa-info-circle"></span> Info For</a>
    <ul aria-labelledby="site-header-nav-dropdown-toggle-8" aria-hidden="true" style="">
      <li>
        {{ page.utility_mobile_info }}
      </li>
    </ul>
  </li>
  <li>
    <a href="/accounts"><span class="fas fa-user-circle"></span> My Accounts</a>
    <ul aria-labelledby="site-header-nav-dropdown-toggle-9" aria-hidden="true">
      <li>
        {{ page.utility_mobile_accounts }}
      </li>
    </ul>
  </li>
</ul>