{#
/**
 * Default theme implementation for Views to output a TARDIS archive.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - nesting: Whether months should be nested inside years.
 *   - path: Link path. Eg.: example.com/TARDIS/2016/03
 *   - time_pool: Two-dimension array containing years and months with content.
 *
 * @see template_preprocess_views_view_filterizr_display()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('filterizr_display/filterizr-display') }}
{%
  set classes = [
    'views-view-filterizr',
    options.classes
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="port-gallery">
    <div class="filterizr-control">
      <ul class="filterizr-filter" id="fControls">
        <!-- For filtering controls add -->
        <li data-filter="all" class="fButton filtr-active"> Everyone </li>
        {% for key, term in header_terms %}
          <li data-filter="{{ key }}" class="fButton"> {{ term }} </li>
        {% endfor %}
      </ul>
      <input type="text" name="search" placeholder="Search" data-search />
    </div>

  <!-- Results -->
    <div class="filter-container">
      {% if rows|length %}
        {% for row in rows %}
          {{- row.content -}}
        {% endfor %}
      {% endif %}
      <!--div class="filtr-item" data-category="1" data-sort="result 1">
        <img src="img/sample1.jpg" alt="sample" />
        <div class="desc">
          Test 1
        </div>
      </div-->
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function() {
    var filterContainer = document.getElementsByClassName('filter-container');
    if (filterContainer.length > 0) {
      filterizr = new Filterizr('.filter-container');
    }

    var bContainer = document.getElementById("fControls");
    var buttons = bContainer.getElementsByClassName("fButton");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("filtr-active");
        current[0].className = current[0].className.replace(" filtr-active", "")
        this.className += " filtr-active";
      });
    }
  }
</script>
