{#
/**
 * @file
 * Theme override to display a careers node.
 */
#}

<div {{attributes}}>
	{{ title_suffix }}
	{% if content.field_main_contact|field_value %}
		<div class="container-fluid">
			<div class="row">
        		<div class="col-1200-8 col-900-7 col-600-12">
				{% if content.body|field_value %}
					<h2>Job Description</h2>
					{{ content.body|field_value }}
				{% endif %}
				{% if content.field_closing_date|field_value %}
					<div><strong>Closes:</strong> {{ content.field_closing_date|field_value }}</div>
				{% endif %}
			</div>
        		<div class="col-1200-4 col-900-5 col-600-12">
				<h3>Contact</h3>
				{{ content.field_main_contact|field_value }}
			</div>
			</div>
		</div>
	{% else %}
		{% if content.body|field_value %}
			<h2>Job Description</h2>
			{{ content.body|field_value }}
		{% endif %}
		{% if content.field_closing_date|field_value %}
			<div><strong>Closes:</strong> {{ content.field_closing_date|field_value }}</div>
		{% endif %}
	{% endif %}

</div>
{{ content|without('body', 'field_job_internal_notes', 'field_closing_date', 'field_main_contact') }}
