{#
/**
 * @file
 * bento-other-resources-block template
 *
 * Variables:
 *   - other_resources 
 *   - other_resources_heading
 */
#}
<div id="bento-other-resources">
  <header>
    <h2>{{ other_resources_heading }}</h2>
  </header>
  {% for name, values in other_resources %}
    {% if values.url %}
      <a class="other-resource" href="{{ values.url }}" id="bento-search-other-resources">
        <div class="other-resource-content">
          <ul>
            <li class="resource-name">{{ name }}</li>
            {% if values.description %}
              <li class="resource-description">{{ values.description }}</li>
            {% endif %}
            {% if values.type %}
              <li class="resource-type">{{ values.type }}</li>
            {% endif %}
          </ul>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
