{#
/**
 * @file
 * bento-other-resources-block template
 *
 * Variables:
 *   - other_resources 
 *   - other_resources_heading
 */
#}
<div id="bento-search-other-resources">
  <header>
    <h2>{{ other_resources_heading }}</h2>
  </header>
  {% for name, values in other_resources %}
    {% if values.url %}
      <a class="other-resource" href="{{ values.url }}" id="bento-search-other-resource">
        <div class="other-resource-content">
          <h3>{{ name }}</h3>
          {% if values.description %}
            <div class="resource-description">{{ values.description }}</div>
          {% endif %}
          {% if values.type %}
            <div class="resource-type">{{ values.type }}</div>
          {% endif %}
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
