{#
/**
 * @file
 * hero-search-block template
 *
 * Variables:
 *   - hero_search_title
 *   - hero_search_form
 *   - hero_search_alert
 *   - hero_discover_links
 *   - hero_search_more_links
 *   - hero_top_content
 *   - hero_bottom_content
 */
#}
{{ attach_library('hero_search/hero-search') }}
<div class='hero-search-block'>
  <div class='row'>
    <span class="hero-search-title">{{ hero_search_title }}</span>
    <span class='hero-search-left-align'>
      {% if hero_top_content %}
        {{ hero_top_content|raw }}
      {% endif %}
    </span>
  </div>
  <div class='row'>
    {{ hero_search_form }}
  </div>
  {% if hero_discover_links %}
    <div class='row discover-links'>
      <span class='discover-title'>Discover: </span>
      <ul>
        {% for disc_name, disc_value in hero_discover_links %}
          <li>{{ link(disc_name, disc_value.url, disc_value.additional) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if hero_search_more_links %}
    <div class='row search-more-links'>
      <span class='search-more-title'>Search More: </span>
      <ul>
        {% for sm_name, sm_value in hero_search_more_links %}
          <li>{{ link(sm_name, sm_value.url, sm_value.additional) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if hero_search_alert %}
    <div class="row">
      <div class="bento-box-alert">
        <div class="alert-icon"></div>
        <div class="alert-text">
          {{ hero_search_alert|raw }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class='row'>
    <span>
      {% if hero_bottom_content %}
        {{ hero_bottom_content|raw }}
      {% endif %}
    </span>
  </div>
</div>
