{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="hero-search-form">
  <div class="hero-search-input">
    <div class="search-icon"></div>
    {{ form.search_query }}
    {{ form.actions.submit }}
  </div>
  <div class="hero-search-options">
    {{ form.search_target }}
  </div>
  <div class="hero-search-advanced">
    <span class='hero-search-left-align darklinks'>
      {{ form.alternate_search }}
    </span>
  </div>
</div>
