{#
/**
 * @file
 * hero-search-block template
 *
 * Variables:
 *   - hero_search_title
 *   - hero_search_form
 *   - hero_search_buttons
 *   - hero_search_top_right_link
 *   - hero_search_bottom_left_link
 *   - hero_search_bottom_right_link
 *   - hero_search_alert
 */
#}
{{ attach_library('hero_search/hero-search') }}
<div class='hero-search-block'>
  <div class='row'>
    <span class="hero-search-title">{{ hero_search_title }}</span>
    <span class='hero-search-left-align'>
      {% if hero_search_top_right_link %}
        <a class="top-right-link" href='{{ hero_search_top_right_link.url }}' title='{{ hero_search_top_right_link.title }}'>
          {{ hero_search_top_right_link.text }}
        </a>
      {% endif %}
    </span>
  </div>
  <div class='row'>
    {{ hero_search_form }}
  </div>
  {% if hero_search_alert %}
    <div class="row">
      <div class="bento-box-alert">
        <div class="alert-icon"></div>
        <div class="alert-text">
          {{ hero_search_alert|raw }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class='row'>
    <div class='hero_search_buttons_container'>
      {% for button in hero_search_buttons %}
        <span>
          <a class="btn btn-success" href='{{ button.url }}' title='{{ button.title }}'>{{ button.text }}</a>
        </span>
      {% endfor %}
    </div>
  </div>
  <div class='row'>
    <span>
      {% if hero_search_bottom_left_link %}
        <a href='{{ hero_search_bottom_left_link.url }}' class="darklinks" title='{{ hero_search_bottom_left_link.title }}'>
          {{ hero_search_bottom_left_link.text }}
        </a>
      {% endif %}
    </span>
    <span class='hero-search-left-align'>
      {% if hero_search_bottom_right_link %}
        <a href='{{ hero_search_bottom_right_link.url }}' class="darklinks" title='{{ hero_search_bottom_right_link.title }}'>
          {{ hero_search_bottom_right_link.text }}
        </a>
      {% endif %}
    </span>
  </div>
</div>
