{#
/**
 * @file
 * hero-search-block template
 *
 * Variables:
 *   - hero_search_title
 *   - hero_search_form
 *   - hero_search_alert
 *   - hero_discover_links
 *   - hero_search_more_links
 *   - hero_top_content
 *   - hero_bottom_content
 */
#}
{{ attach_library('hero_search/hero-search') }}
<div class='hero-search-block'>
  <div class='hero-search-top'>
    <span class="hero-search-title">{{ hero_search_title }}</span>
    <span class='hero-search-title-sub'>
      {% if hero_top_content %}
        {{ hero_top_content|raw }}
      {% endif %}
    </span>
  </div>
  <div class='hero-search-box'>
    {{ hero_search_form }}
    {% if hero_quick_actions %}
      <div class="hero-search-box-dropdown" id="hero-search-box-dropdown">
        <div class="hero-search-dropdown-content">
          {{ hero_quick_actions|raw }}
        </div>
      </div>
    {% endif %}
  </div>
  
  {% if hero_discover_links %}
    <div class='discover-links'>
      <h3 class='discover-title'>Discover</h3>
      <div aria-hidden="true" class="title-divider">-</div>
      <ul role="list">
        {% for disc_name, disc_value in hero_discover_links %}
          <li>{{ link(disc_name, disc_value.url, disc_value.additional) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if hero_search_more_links %}
    <div class='search-more-links'>
      <h3 class='search-more-title'>Search More</h3>
      <div aria-hidden="true" class="title-divider">-</div>
      <ul role="list">
        {% for sm_name, sm_value in hero_search_more_links %}
          <li>{{ link(sm_name, sm_value.url, sm_value.additional) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if hero_search_alert %}
    <div class="hero-search-alert">
      <p class="alert-text" aria-label="Search Box Alert">
        {{ hero_search_alert|raw }}
      </div>
    </p>
  {% endif %}
  <div class='hero-search-bottom'>
    {% if hero_bottom_content %}
      {{ hero_bottom_content|raw }}
    {% endif %}
  </div>
</div>
